<div class="container" id="background" >
<h1>MOVIES LIST</h1>
<div class='panel panel-primary'>  
    
  <div class='panel-body'>  
      <div class='table-responsive'>  
          <table class='table' style="background-image:url('assets/images/bgimage.jpg'); ">  
              <thead >  
                  <tr >  
                      <th style="font-size: 30px;">Title</th>  
                      <th style="font-size: 30px;">Director</th>  
                      <th style="font-size: 30px;">Cast</th>  
                      <th style="font-size: 30px;">Release Date</th>  
                  </tr>  
              </thead>  
              <tbody>  
                  <tr *ngFor="let movie of movies;">  
                      <td>{{movie.title}}</td>  
                      <td>{{movie.director}}</td>  
                      <td style="text-align: center;">{{movie.cast}}</td>  
                      <td>{{movie.releaseDate}}</td>  
                  </tr>  
              </tbody>  
          </table>  
      </div>  
  </div>  
</div>  
</div>